#header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: $hAppHeader;
    padding: 5px 10px;
    background-color: $cBgHeader;
    color: $cFn1;
    border-bottom: 1px solid $cBorder1;
    z-index: 10;

    #header-title {
        font-size: 23px;
        font-weight: bold;
    }
}